@media (min-width: 0px){
    .f-size-14{
        font-size: 14px;
    }
}

@media (min-width: 768px) { 
    .f-size-14{
        font-size: 20px;
    }
}

@media (min-width: 992px) { 
    .f-size-14{
        font-size: 24px;
    }
}

@media (min-width: 1200px) { 


}

.color-blue{
    color: #3a3cc2;
}

.border-none{
    border: none;
}

.border-bottom-gray{
    border-bottom: 1px solid #dfe1e3;
}

.h-6{height: 6vh;}

.h-10{height: 10vh;}

.h-20{height: 20vh;}

.h-30{height: 30vh;}

.h-40{height: 40vh;}

.title{
    font-size: 20px;
    margin: 0.5em;
}

.mr-10{
    margin-right: 7px;
}

footer{
    padding-top: 2px;
}